<div class="all-cards">
    <h1>Admin Dashboard</h1>

<table class="minimalistBlack">
    <thead>
        <td>Name</td>
        <td>Email</td>
        <td>Remove</td>
    </thead>
    <% @user.each do |user| %>
        <tbody>
            <tr>
                <td><%= user.user_profile.name %></td>
                <td><%= user.email %></td>
                <td><%= link_to "Remove", user_path(user.id), method: "delete", style: "color:red;" %> </td>
            </tr>
        </tbody>
    <% end %>
  
</table>
</div>

