<%= render "item-card", item: @item, cart_item: @cart_item %>

<div class="all-cards" id="item-content-card">

    <h1 style="margin:0;">Details</h1>

    <p><%= @item.content %></p>

</div>

<% if current_user.id == @item.shop.user.id || User.admin_check(current_user) %>
  <div class="all-cards" id="profile-links">
    <%= link_to "Delete This Item", user_shop_item_path( @item.shop.user.id, @item.shop.id, @item.id), method: "delete", style: "color:red;"  %>
  </div>
<% end %>