/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html{
     background-color:white;
 }

 body{
     margin:0px; 
 }

 /*  Nav bar styling*/
 .nav-bar{
     display:flex;
     justify-content: space-between;
     align-items:center;
     max-width:100%;
     background-color: black; 
 }

 #all-the-things{
     font-size: 1.5rem;
 }


.nav-link{
    padding:7px;
    font-size: 1.2rem;
 }

 #whole-body-wrapper{
     background-color: white;
     min-height: 100vh;
     margin: 0;
     padding-bottom: 50px;
 }

 a{
     font-family: 'Rakkas', cursive;
     text-decoration: none;
     color: black;
 }
 a:visited{
    color:black;
 }

.all-cards{
         /* Setting the background of the head for the whole aplication */
         background-color: white;  
         min-height: 15vh;  
         margin: 15px;
         font-family: 'Rakkas', cursive;
         border-bottom: 2px solid black;
}

 #fixed-head{
    
    /* Display properties for the fixed head */
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    background-image: url("market.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin:0;
 }


  #head-h1{
    display: none;
    font-family: 'Rakkas', cursive;
    color:black;
    padding:0;
    margin: 0px;
    
 } 

 /* Button styling within the head */
 .head-button{
    /* border: 1px solid black; */
    background-color: rgb(255, 126, 51);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    border: solid black 3px;
    padding: 5px;
    font-family: 'Rakkas', cursive;
    font-size: 1rem;
 }

 /* Notice styling */
 .notice{
     color: green;
     background-color:white;
     display:flex;
     justify-content: center;
    
 }
 .alert{
     color:red;
     background-color:white;
     display:flex;
     justify-content: center;
 }
 #flash-alert{
     background-color: white;
     color: red;
 }

 #bottom-nav{
    position: fixed;
    bottom:0;
    width:100%;
    padding: 5px;
    font-size: 1rem;
 }

 #bottom-top{
     padding-right:15px;
 }

 @media screen and (min-width: 900px){
     #fixed-head{
         background-image: url("shops.jpeg");
         height: 50vh;
         width: 100%;
         margin: 0;
         justify-content: center;;

     }

     #bottom-nav{
         font-size: 1rem;
         height:auto;
     }
     .head-button{
         font-size: 1.2rem;
         background-color: rgb(228, 42, 218);
         margin: 40px;

     }
     .nav-bar{
         font-size:1.5rem;
        
     }
     .nav-link{
         padding-right: 15px;
     }
     #all-the-things{
         font-size: 2.5rem;
     }
     #whole-body-wrapper{
         display:flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
         min-height:0;
     }
     
    
 }