// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category-heading-card{

    min-height: 0;
    text-align: center;

    h1{
        margin: 0;
        font-size:5rem;
    }
}