// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// THE ITEMS NEW FORM STARTS HERE

.input-field{
    height:20px;
    width: 90%;
    border: solid black 2px;
    background-color: #DAD6D6; 
    border-radius: 5px;
    font-weight: bold;
}


#item_content{
    height:50px;
    width:90%;
    border: solid black 2px;
    background-color: #DAD6D6; 
    border-radius: 5px;
    font-weight: bold;
}

// ITEMS CARD

#item-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 15px;
    h1{
        margin: 10px;
    }
    a{
        font-size:1.3rem;
    }
    p{
        font-size: 1.1rem;
    }
   
}

#item-content-card{
   
    padding: 30px;

    p{
        margin: 0;
        padding:10px;
        text-align: center;
    
    }
    h1{
        width: 95%;
        text-align: center;
        margin:0;
    }
}



@media screen and (min-width: 900px){
    #item-card{
        width:45%;
        h1{
            font-size:2rem;
        }
    }
    #item-content-card{
        width:100%;
        h1{
           margin:0;
           margin-right:0;
        }
    }
}