// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field{
    // setting form font sizes
    font-family: 'Rakkas', cursive;

    // display properties within the form field divs for alignment
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    // padding and margins for spacing
    padding: 15px;
}

// form input field & file upload styling
#user_email{
    height:20px;
    width: 90%;
    border: solid black 3px;
    background-color: #DAD6D6; 
    border-radius: 10px;
    font-weight: bold;
}
#user_password{
    height:20px;
    width: 90%;
    border: solid black 3px;
    background-color: #DAD6D6; 
    border-radius: 10px;
    font-weight: bold;
}
#user_password_confirmation{
    height:20px;
    width: 90%;
    border: solid black 3px;
    background-color: #DAD6D6; 
    border-radius: 10px;
    font-weight: bold;
}

.actions{
    display:flex;
    justify-content: center;
    padding: 20px;
}




