#edit-form-card .form-field {
  padding: 10px;
}

#edit-form-card #shop_name {
  height: 20px;
  width: 90%;
  border: solid black 2px;
  background-color: #DAD6D6;
  border-radius: 5px;
  font-weight: bold;
}

#edit-form-card #shop_hook {
  height: 50px;
  width: 90%;
  border: solid black 2px;
  background-color: #DAD6D6;
  border-radius: 5px;
  font-weight: bold;
}

#edit-form-card #shop_content {
  height: 50px;
  width: 90%;
  border: solid black 2px;
  background-color: #DAD6D6;
  border-radius: 5px;
  font-weight: bold;
}

#shop-picture {
  border: solid black 3px;
}

#shop-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

#heading-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

#heading-view a {
  margin: 10px;
  color: blue;
}

#heading-view h1 {
  margin: 10px;
}

#shop-hook {
  width: 95%;
  text-align: center;
  padding: 5px;
}

#shop-content {
  text-align: center;
  padding: 5px;
  margin: 5px;
  padding-bottom: 10px;
}

#shop-content-card {
  margin: 0;
}

#shop-content-card h1 {
  margin: 15px;
}

#shop-content-card a {
  color: blue;
}

#edit-link {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  padding-bottom: 25px;
}

#shop-image-placeholder {
  min-width: 300px;
  max-width: 600px;
  height: 150px;
  background-color: grey;
  text-align: center;
}

#shop-image-placeholder h1 {
  font-size: 1rem;
}

#edit-heading {
  min-height: 0;
}

#edit-heading h1 {
  padding: 5px;
  margin: 0;
  width: 95%;
  text-align: center;
}

#search {
  height: 20px;
  width: 90%;
  border: solid black 3px;
  background-color: #DAD6D6;
  border-radius: 10px;
  font-weight: bold;
}

#search-field-div {
  width: 70%;
}

#search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  padding-right: 40px;
}

#search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search-button-wrap {
  padding-right: 20px;
}

#search-heading {
  text-align: center;
  min-height: 0;
}

#search-heading h1 {
  margin: 0;
}

#category-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#category-button {
  margin: 25px;
}

#welcome-card h1 {
  margin: 0;
  margin-left: 25px;
  padding-top: 30px;
}

#welcome-card p {
  margin: 10px;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 40px;
}

@media screen and (min-width: 450px) {
  #search-div {
    width: 49%;
  }
  #search {
    height: 30px;
    width: 90%;
    border: solid black 3px;
    background-color: #DAD6D6;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  #search-heading {
    font-size: 1rem;
  }
  #category-card {
    width: 49%;
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #category-card h1 {
    font-size: 2rem;
  }
  #search-heading {
    width: 49%;
  }
  #shop-card {
    max-width: 45%;
  }
  #shop-card h1 {
    font-size: 2rem;
  }
  #shop-card a {
    font-size: 1rem;
    color: blue;
  }
  #shop-hook {
    font-size: 1rem;
  }
  #shop-image-placeholder {
    width: 400px;
    height: 200px;
    background-color: grey;
    text-align: center;
  }
  #shop-image-placeholder h1 {
    font-size: 1rem;
  }
  #welcome-card h1 {
    font-size: 2rem;
  }
  #welcome-card p {
    font-size: 1.5rem;
  }
  #shop-content-card {
    width: 80%;
  }
  #shop-content-card h1 {
    font-size: 2rem;
  }
  #shop-content-card p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=shop.css.map */