// Place all the styles related to the UserProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
// USER-PROFILE NEW SECTION INCLUDING FORM
#edit-form-card{
    // content display and alignment
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    
    // padding for visual enhancement around borders of card
    padding: 20px;
    min-height: 50vh;
   
}

.form-field{
    // setting form font sizes
    font-family: 'Rakkas', cursive;
    font-size: 3.5rem;

    // display properties within the form field divs for alignment
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    // padding and margins for spacing
    padding: 30px;
}

// form input field & file upload styling
#user_profile_name{
    height:60px;
    width: 80%;
    border: solid black 3px;
    background-color: #DAD6D6; 
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
}

#user_profile_content{
    height:300px;
    width:80%;
    border: solid black 3px;
    background-color: #DAD6D6; 
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
}

#file-upload{
   font-size:2.5rem; 
   margin-left: 200px;
   margin-bottom: 70px;
   
}

// The form heading card and h1 heading
#profile-form-heading-card{
    margin-top: 0;
    min-height:0;
    padding: 40px;
    display:flex;
    justify-content:center;
}
#profile-form-heading{
    font-family: 'Rakkas', cursive;
    font-size: 3.5rem;
    margin:0;
}

// THIS IS THE START OF THE USER PROFILE PAGE I.E UserProfiles#show

#profile-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

    a{
        font-size: 3rem;
        width: 90%;
        padding-bottom: 15px;
    }
}

// Controls the display of the image and the content via flexbox, padding added for visual enhancement
#profile-wrap{
    display:flex;
    justify-content: space-between;
    padding: 30px;
}

// users profile image div placeholder when no image present
#user-image{
    height: 400px;
    width: 400px;
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border: solid black 3px;
    display:flex;
    justify-content:center;
    align-items:center;
    p{
        font-size: 3rem;
    }
}

#profile-heading{
    font-size: 4rem;
}

// profile content div
#profile-content{
    // size of div is set
    height: 400px;
    width:400px;

    // Setting the font family and size 
    font-family: 'Rakkas', cursive;
    font-size: 2rem;

    // padding and margin added for visual enhancement 
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
}

#profile-image{
    border: solid black 3px;
}

// DASBOARD/ PROFILE PRAGE LINKS CARD STYLING
#profile-links{
    display:flex;
    justify-content:space-around;
    align-items:center;
    a{
        font-size: 3.5rem;
        color: blue;
    }
}

