#edit-form-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  min-height: 50vh;
}

.form-field {
  font-family: 'Rakkas', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

#user_profile_name {
  width: 80%;
  height: 25px;
  border: solid black 2px;
  background-color: #DAD6D6;
  border-radius: 5px;
  font-weight: bold;
}

#user_profile_content {
  height: 150px;
  width: 80%;
  border: solid black 3px;
  background-color: #DAD6D6;
  border-radius: 5px;
  font-weight: bold;
}

#profile-form-heading-card {
  margin-top: 0;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#profile-form-heading {
  font-family: 'Rakkas', cursive;
  margin: 0;
}

#profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-card a {
  width: 90%;
  padding-bottom: 15px;
  color: blue;
}

#profile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

#user-image {
  height: 150px;
  width: 40%;
  background-color: grey;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-content {
  height: 150px;
  width: 40%;
  font-family: 'Rakkas', cursive;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
}

#profile-image {
  border: solid black 3px;
}

#profile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-links a {
  color: blue;
}

@media screen and (min-width: 900px) {
  #profile-card {
    width: 100%;
  }
  #profile-card a {
    font-size: 1.5rem;
  }
  #profile-heading {
    font-size: 2.5rem;
  }
  #profile-links {
    width: 60%;
    font-size: 1.5rem;
  }
  #profile-form-heading-card {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  #edit-form-card {
    width: 55%;
    padding: 0;
    padding-bottom: 50px;
    min-height: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form-field {
    font-size: 2rem;
  }
  .form-field label {
    padding-top: 50px;
  }
}
/*# sourceMappingURL=user_profiles.css.map */